{% extends 'base.html' %}
{% load static %}


{% block content %}

<table class="table">
    <tr>
        <th class="th">kolor</th>
        <th class="th">cena</th>
        <th class="th">pojemność</th>
    </tr>
{% for f in farbka %}
    <tr>
            <td class="td">{{ f.kolor }}</td>
            <td class="td">{{ f.cena }}</td>
            <td class="td">{{ f.pojemnosc }}</td>
    </tr>

{% endfor %}
</table>

<form action="{% url 'policz' %}" method="post">
    {% csrf_token %}
    <table>{{ form }}</table>
    <button type="submit">policz</button>
</form>

<h3>Liczba potrzebnych puszek: {{ puszka }}</h3>



{% endblock %}