{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <h1>Zarejestrowano w bazie {{ ogloszenia|length }} ogłoszeń</h1>
    
{% if user.is_authenticated %}
    <h1 style="font-style: italic; color: darkmagenta">Witam, {{ user.username }}!</h1>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" style="padding: 5px; background-color: red">Wyloguj</button>
    </form>
{% else %}
    <p>Nie jesteś zalogowany</p>
    <a href="{% url 'login' %}">Zaloguj</a>  
{% endif %}
    
    
    <ol>
{% for o in ogloszenia %}
    <h2>{{ o.tytul }} - dodane przez użytkownika {{ o.uzytkownik_id.imie }} {{ o.uzytkownik_id.nazwisko }}</h2>
    <a href="{% url 'tresc' o.id %}">szczegóły ogłoszenia</a>
    <hr>
{% endfor %}
    </ol>
    
    
    <a href="{% url 'add' %}">Dodaj nowe ogłoszenie</a>
    <a href="{% url 'uzytkownik' %}">Pokaż wszystkich użytkowników</a><br>
    <a href="{% url 'ksiazka' %}">Pokaż książki</a>

{% endblock %}