{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Stacja benzynowa</h1>
<img src="{% static '/znak.png' %}">

<p>Ceny paliw:</p>

<table>
    <tr>
        <th class="th">rodzaj paliwa</th>
        <th class="th">cena</th>
    </tr>
    {% for p in paliwko %}
        <tr>
            <td class="td">{{ p.rodzaj_paliwa }}</td>
            <td class="td">{{ p.cena }} zł</td>
        </tr>
    {% endfor %}
</table>
<hr>
<h3>Dodawanie</h3>
<form action="{% url 'dodaj' %}" method="post">
    {% csrf_token %}
    <table>{{ form }}</table>
    <button type="submit">dodaj</button>
</form>
    {{ suma }}
<hr>
<h3>Odejmowanie</h3>
<form action="{% url 'odejmij' %}" method="post">
    {% csrf_token %}
    <table>{{ form }}</table>
    <button type="submit">odejmij</button>
</form>
    {{ roznica }}
<hr>
<h3>Mnożenie</h3>
<form action="{% url 'razy' %}" method="post">
    {% csrf_token %}
    <table>{{ form }}</table>
    <button type="submit">razy</button>
</form>
    {{ iloczyn }}
<hr>
<h3>Dzielenie</h3>
<form action="{% url 'dziel' %}" method="post">
    {% csrf_token %}
    <table>{{ form }}</table>
    <button type="submit">dziel</button>
</form>
    {{ iloraz }}
{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}
<hr>
<br>



{% endblock %}