{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Stacja benzynowa</h1>
<img src="{% static '/znak.png' %}">

<p>Ceny paliw:</p>

<table>
    <tr>
        <th>rodzaj paliwa</th>
        <th>cena</th>
    </tr>
    {% for p in paliwko %}
        <tr>
            <td>{{ p.rodzaj_paliwa }}</td>
            <td>{{ p.cena }} zł</td>
        </tr>
    {% endfor %}
</table>

<h2>Oblicz ile litrów musisz zatankować</h2>
<label>Dystans do przejechania w km:</label>
<input type="number" id="dy"><br>
<label>Spalanie samochodu w 1/100km:</label>
<input type="number" id="sp"><br>
<input type="submit" value="oblicz" onclick="licz()">
<p id="wynik"></p>

<script>
    function licz() {
        var dystans = Number(document.getElementById("dy").value);
        var spalanie = Number(document.getElementById("sp").value);

        var wynik = (dystans/spalanie);

        if (wynik>0) {
             document.getElementById("wynik").innerHTML = "Potrzebujesz " + wynik + " litrów paliwa";
        }
    }
</script>

{% endblock %}