{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />>
    <link rel="stylesheet" href="{% static 'grzybyapp/style.css' %}" />
    <title>homepage</title>
  </head>
  <body>
    <div class="jojo">
      <h1>Grzybobranie czas zacząć</h1>


      <div class="main">
        <img src="{% static 'borowik.jpg' %}" />
        <ol>
          {% for g in grzyby %}
          <li>
            {{g.nazwa}} - nazwa potoczna {{g.potoczna}}, należy do
            rodziny {{g.rodzina_id.nazwa}}
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </body>
</html>